body{

    background-image: url(images/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }

    .Formulario{
    background: rgb(216, 227, 247);
    padding: 20px;
    display: block;
    align-items: center;
    
    }

    .contenedor{
    width: 95%;
    padding: 15px;

    }
    h1{
    text-align: center;
    color: #4b35ac;
    font-size: 40px;
    }

    input[type="text"]
    {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none

    }

    .input-contenedor{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    }
    .input-contenedor input, button{
        border: 1px solid black;
        margin: 4px auto;
        padding: 10px;
    }

    button{
        width: 50%;
        color: white;
        font-size: 20px;
        background: #79a5eb;
        padding: 15px;
        cursor: pointer;  
        margin: 1px solid rgb(12, 12, 87);      
    }

    button:hover{
        background-color: #2a1a74; 
    }


    .Clabel{

        font-size: 20px;
        padding: 20px;
        color: rgb(52, 61, 141);

    }

    @media(min-width: 768px){
    .Formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
    }
